

.principal__sobre {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 7em 20em;
}

.principal__sobre__sobre-nos {
    font-weight: 600;
    color: var(--cor-terciaria);
    font-size: 16px;
}

.titulo {
    color: var(--cor-de-titulo);
    font-weight: bold;
    font-size: 48px;
    margin: 0.8em 0;
}

.texto {
    font-size: 20px;
    color: var(--cor-primaria);
}

.principal__metricas {
    display: flex;
    justify-content: center;
    margin: 10em 3em 15em 3em;
    gap: 7em;
}

.principal__metricas__metrica {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 15%;
}

.span-numero {
    font-size: 60px;
    color: var(--cor-terciaria);
    font-weight: 600;
    margin-bottom: 0.5em;
}

.span-titulo {
    font-size: 18px;
    font-weight: 500;
    color: var(--cor-de-titulo);
    margin-bottom: 0.5em;
}

.paragrafo-texto {
    color: var(--cor-primaria);
}

.vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0 10em 0;
}

.vagas-abertas {
    color: var(--cor-terciaria);
    font-weight: 500;
    font-size: 14px;
    background-color: var(--cor-transparente);
    padding: 0.4em 0.9em;
    border-radius: 20px;
}

.vagas__titulo {
    font-size: 36px;
    font-weight: 600;
    color: var(--cor-de-titulo);
    margin: 0.8em 0;
}

.vagas__texto {
    font-size: 20px;
    color: var(--cor-primaria);
    margin-bottom: 3.5em;
}